clips_output/
__pycache__/
.env
storage/
*.webm
*.mp3
*.ttf
src/videocuts.egg-info/
joe/
ceo/
lifinho/
mordern-wisdom.webm
debug_schema.py
JoeClips/
clips_output_linus/
test_input/
node_modules/
dist/
.venv/